.main {
    position: relative;

    min-height: 100vh;
    padding: var(--gap-large) 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.footer {
    display: flex;
    flex: 1;
    padding: var(--gap-medium) 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

@font-face {
    font-family: Anurati;
    src: url(/fonts/Anurati-Regular.otf);
}

.title {
    font-family: Anurati, sans-serif;

    margin: 0;
    line-height: 1.15;
    font-size: 6rem;
}

@media (max-width: 600px) {
    .title {
        font-size: 4rem;
    }
}

.title,
.description {
    text-align: center;
}

.description {
    text-align: center;

    margin: var(--gap-large) var(--gap-medium);
    line-height: 1.5;
    font-size: var(--text-size-normal);

    max-width: 600px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.card {
    flex: 1 0 49%;

    margin: var(--gap-small);
    padding: var(--gap-small);
    text-align: center;
    border: 3px solid var(--white);
    outline: 0 solid var(--primary-color);
    transition: color .2s ease-in-out, border-color .2s ease-in-out, outline .2s ease-in-out;
    max-width: 300px;
}

.card:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    outline: 3px solid var(--primary-color);
}

.card:focus,
.card:active {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.arrow {
    display: inline-block;
    transform: scale(0);

    transition: transform .2s ease-in-out;
}

.card:hover .arrow {
    transform: scale(1);
}

.card h2 {
    font-size: var(--text-size-large);
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}
