@use "variables" as var

.toast
    position: absolute
    bottom: 10px
    width: 100vw
    text-align: center
    opacity: 0
    transition: opacity .1s ease-in-out
    font-size: var.$text-size-large